<p>vehicle works!</p>
<input type="text" placeholder="serch" [(ngModel)]="term" (keyup)="filter()">
<label>Column :</label>
<select name="" id="" [(ngModel)]="column">
    <option>color</option>
    <option>fuel</option>
</select>
<label>order</label>
<select name="" id="" [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>
<button (click)="sort()">sort</button>
<label>Limit :</label>
<select name="" id="" [(ngModel)]="limit">
    <option>19</option>
    <option>29</option>
    <option>48</option>
</select>
<label>Page:</label>
<select name="" id="" [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
    <option>3</option>
</select>
<button (click)="pagee()">page</button>
<table border="1" class="table table-hover table-stripped">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>manufacturer</th>
            <th>model</th>
            <th>type</th>
            <th>fuel</th>
            <th>color</th>
            <th>image</th>
            <th>cost</th>
            <th>id</th>
            <th>actions</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>{{vehicle.color}}</td>
            <td>
                <img src="{{vehicle.image}}" alt="" width="100px">
            </td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.id}}</td>
            <td>
                <button (click)="delete(vehicle.id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>
