<div class="parent">
    <div class="left">
        <h1>MY WEBSITE</h1>
        <hr>
        <h3>Welcome</h3>
        <h3>Home</h3>
        <h3 routerLink="data">Data binding</h3>
        <h3 routerLink="cal">Calculator</h3>
        <h3 routerLink="rect">Rectangle</h3>
        <h3 routerLink="bmi">BMI</h3>
        <h3 routerLink="direct">Directives</h3>
        <h3 routerLink="pipe">Pipes</h3>
        <h3 routerLink="register">Registration</h3>
        <button routerLink="/login">LOGOUT</button>
    </div>
    <div class="right"></div>
    <router-outlet></router-outlet>
</div>
